.center-text-image {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.title-banner{
    color: rgb(141, 141, 141);
    font-size: 8vmax;
    font-weight: bold;
}

.container-card{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-t2{
    margin-top: 6%;
    margin-bottom: 6%;
    margin-left: 10%;
    margin-right: 10%;   
}

.card{
    border-radius: 6%;
}

.card-img{
    border-radius: 6%;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
}

.title-t1{
    font-size: 55px;
}