<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<app-navbar></app-navbar>


<div style="background-color: whitesmoke">
  <div class="w3-display-container w3-content" style="max-width:1500px;" id="home">
    <img class="w3-image" src="../../../assets/img/faceResize.jpg" alt="facePerson">
      <h1 class="center-text-image title-banner"><span style="color: rgb(190, 27, 27);;"> El Perú </span>unido 
        <span style="color: whitesmoke;"> frente al</span> <br>
        <span style="color: rgb(190, 27, 27);">COVID-19</span> 
      </h1>
  </div>

  <div style="margin-left: 7%; margin-right: 7%; margin-top: 5%;">
    <h1 class="title-t1 lead">¿Estás preocupado con el Nuevo <span style="color: red; font-weight: bold;"> COVID-19?</span></h1>
    <h4 class="lead" style="font-size: 28px;">Conoce acá los síntomas que se presentan, y si aún no estás seguro te ofrecemos nuestra Prueba de Diagnóstivo</h4>
    <h4 class="text-success" style="font-size: 25px;">Esta prueba lanzará una probabilidad de haber contraído el virus </h4>
  </div>

  <div class="container-t2">
    <div class="card-deck">
      <div class="card">
        <img class="card-img" src="../../../assets/img/virus2.jpg" style="opacity: 0.8;" alt="Virus" height="285px">
        <div class="card-img-overlay">
          <div class="card" style="width: 19rem;">
            <div class="card-body">
              <h1 class="card-title text-center">¿Usted presenta alguno de estos Síntomas?</h1>
              <p class="card-text">- Fiebre<br>- Gripe, Tos <br>- Dificultad para Respirar
              <br>- Congestión Nasal</p>
              <h5 class="card-title text-center text-danger">PREOCÚPESE</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <img class="card-img" src="../../../assets/img/testMedic3.jpg" alt="Diagnostic" height="285px">
        <div class="card-img-overlay">
          <div class="card" style="width: 19rem;">
            <div class="card-body">
              <h1 class="card-title">Diagnostico de Probabilidad de Contagio</h1>
              <p class="card-text">Nuestra prueba emite una diagnóstico de probabilidad de haber contraído el COVID-19</p>
              <a class="btn btn-success" role="button" routerLink="/form">Realizar Prueba</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-left: 7%; margin-right: 7%;">
    
  </div>
  <div style="margin-left: 7%; margin-right: 7%; margin-top: 5%;">
    <h1 class="title-t1 lead">Aquí encontrarás Orientación, Información y medidas de Prevención</h1>
    <h4 class="lead" style="font-size: 25px;">Según la <span class="text-danger" style="font-weight: bolder;"> OMS (Organización Mundial de la Salud) </span>
    te mostramos toda información sobre el <span style="color: red; font-weight: bolder;">COVID-19</span>, además de medidas y
    precausiones que debes tomar durante la <span class="text-success" style="font-weight: bolder;">Cuarentena</span></h4>
  </div>

  <div class="container-card">
    <div class="card-deck">
      <div class="card">
        <img src="../../../assets/img/silent.jpg" style="border-radius: 3%;" alt="Higiene" height="130px">
        <div class="card-body">
          <h3 class="card-title">Medidas de Prevencion a Tomar</h3>
          <p class="card-text">Siga estas medidas básicas de higiene para evitar el contagio.</p>
          <a href="https://www.gob.pe/8663" class="btn btn-warning button-ref" role="button" aria-disabled="true">
                Ir a la página
          </a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/coronaVirus.jpg" class="card-img" style="border-radius: 3%;" alt="Virus-2" height="306px">
        <div class="card-img-overlay">
          <h3 class="card-title"></h3>
          <a href="https://www.who.int/es/emergencies/diseases/novel-coronavirus-2019" class="btn btn-outline-light btn-lg button-ref" role="button" aria-disabled="true">Más Infomación</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/originWuhan.jpg" style="border-radius: 3%;" class="" alt="CoronaVirus" height="130px">
        <div class="card-body">
          <h3 class="card-title">Conoce todo sobre el COVID-19</h3>
          <p class="card-text">Aquí encontrarás toda la información relacionada al virus.</p>
          <a href="https://www.gob.pe/institucion/minsa/campa%C3%B1as/699-conoce-que-es-el-coronavirus" class="btn btn-danger button-ref" role="button" aria-disabled="true">Ir a la página</a>
        </div>
      </div>
    </div>
  </div>

</div>