<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<app-navbar></app-navbar>


<div style="background-color: white">
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="../../../assets/img/faceResize.jpg" alt="facePerson">
  <div class="center-text-image">
    <h1>CoronaVirus</h1>
  </div>
</div>

<br/><br/>

<div class="d-flex justify-content-center">
  <div class="row">
    <div class="col desktop-exist">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Medidas de Prevencion a Tomar</h4>
          <div class="row">
            <div style="margin-left: 10px">
              <p class="card-text">Siga estas medidas básicas de higiene para poder prevenir el COVID-19.</p>
              <a href="https://www.gob.pe/8663" class="btn btn-warning button-ref" role="button" aria-disabled="true">
                Ir a la página
              </a>
            </div>
          </div>
        </div>
        <img src="../../../assets/img/silent.jpg" class="w3-image" alt="CoronaVirus" height="183px">
      </div>
    </div>

    <div class="col mobile-exist">
      <a href="https://www.gob.pe/8663" style="text-decoration:none">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Medidas de Prevencion a Tomar</h4>
            <div class="row">
              <div style="margin-left: 10px">
                <p class="card-text">Siga estas medidas básicas de higiene para poder prevenir el COVID-19. Haga click <b style="color:blue">aqui</b></p>
                <a href="https://www.gob.pe/8663" class="btn btn-warning button-ref" role="button" aria-disabled="true">
                  Ir a la página
                </a>
              </div>
            </div>
          </div>
          <img src="../../../assets/img/silent.jpg" class="w3-image" alt="CoronaVirus" height="183px">
        </div>
      </a>
    </div>

    <div class="col desktop-exist">
      <div class="card">
          <div class="card-body">
            <p class="card-title">Conoce como Protegerte</p>
            <p class="card-text">Aquí encontrarás las medidas, recomendaciones y noticias sobre el COVID-19.</p>
            <a href="https://www.gob.pe/coronavirus" class="btn btn-danger button-ref" role="button" aria-disabled="true">Ir a la página</a>
          </div>
          <img src="../../../assets/img/originWuhan.jpg" class="w3-image" alt="CoronaVirus" height="183px">
      </div>
    </div>

    <div class="col mobile-exist">
      <a href="https://www.gob.pe/coronavirus" style="text-decoration:none">
        <div class="card">
            <div class="card-body">
              <p class="card-title">Conoce como Protegerte</p>
              <p class="card-text">Aquí encontrarás las medidas, recomendaciones y noticias sobre el COVID-19. Haga click <b style="color:blue">aqui</b></p>
              <a href="https://www.gob.pe/coronavirus" class="btn btn-danger button-ref" role="button" aria-disabled="true">Ir a la página</a>
            </div>
            <img src="../../../assets/img/originWuhan.jpg" class="w3-image" alt="CoronaVirus" height="183px">
        </div>
      </a>
    </div>

    <div class="col">
      <img src="assets/img/OMS1.png" class="rand-image" alt="CoronaVirus" class="card">
    </div>

    <div class="col">
      <img src="assets/img/OMS2.png" class="rand-image" alt="CoronaVirus" class="card">
    </div>

  </div>
</div>

<br/><br/><br/>

</div>