.center-text-image {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.title-banner{
    color: rgb(141, 141, 141);
    font-size: 8vmax;
    font-weight: bold;
}

.container-card{
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 5%;
    margin-right: 5%;
}

.container-t2{
    margin-top: 8%;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;   
}

.card-container {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-c{
    width: 400px;
    height: 350px;
    margin: auto;
    margin-top: 30px;
}

.card{
    border-radius: 6%;
}

.card-img{
    border-radius: 6%;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
}

.mobile-exist {
    display: None;
}

.desktop-exist {
    display: block;
}

@media screen and (max-width: 450px) {
    .card {
        width: 200px;
        height: 300px;
        margin: auto;
        margin-top: 30px;
    }

    .mobile-exist {
        display: block;
    }

    .card-title {
        font-weight: 500;
        font-size: 20px;
    }

    .card-text {
        font-weight: 300;
        font-size: 12px;
    }

    .button-ref {
        display: None;
    }

    .col {
        padding: auto;
    }

    .desktop-exist {
        display: None;
    }
}