/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.back-font {
  background: url('assets/img/virus-mol.jpg') no-repeat;
  background-size: cover;
}
